.__container {
    width: 540px;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #ddd;
    margin: 0 auto;
}

.__title {
    text-align: center;
    margin: 0 0 25px;
    padding: 0;
}

.__input {
    border: 2px solid #ddd;
    width: 100%;
    padding: 15px 20px;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 8px;
    color: grey;
}

.__input__textArea {
    border: 2px solid #ddd;
    width: 100%;
    padding: 15px 20px;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 8px;
    font-family: inherit;
    height: 100px;
    color: gray;
}

.__label {
    color: black;
    font-size: 12px;
    font-weight: 400;
}

.__submit {
    background-color: #e60023;
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    height: 48px;
    padding:0 15px;
}