.__container {
    text-align: center;
}

.__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.__title {
    font-size: 36px;
    font-weight: bold;
    
}

.__subtitle {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}